
<div class="row">
    <div class="col-md-8">
        <div class="header-div">
            <h1>{{ title }}</h1>
            <h2>{{ subTitle }}</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class='toggle-mongo-div'>
            <form method="POST" action="/">
                <button id='toggleInput'  type="submit" class="btn btn-lg btn-primary btn-block">Change back to User/Pass Auth</button>
            </form>
        </div>
        
    </div>
</div>
<form class="form-signin" method="POST" action="/config/runmongo">
    <div class="form-group">
        <label id="uri" class="form-text text-muted text-left">MongoDB Auth URI</label>
        <input type="text" id="uri" name='uri' class="form-control" placeholder="mongodb://&lt;dbuser&gt;:&lt;dbpassword&gt;@&lt;subdns&gt;.mlab.com:&lt;port&gt;/&lt;database&gt;" required autofocus>
        <p id="uri" class="form-text text-muted">Visit <a href='https://mlab.com/' target='_blank' rel="to Mlabs">MLabs </a>and sign in for your database info</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>



