<div class="holder-div new-blog">
    <div class="container-fluid">
        <div class="header-div">
            <h1>{{title}}</h1>
            {{>errors }}
        </div>

        <div class="row">
            <form method="POST" action='/rte-post' id='rteform'>
                <div class="form-group">
                    <label for="title">Blog title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="My new blog title" required>
                </div>
                <textarea id="summernote" name="editordata"></textarea>
                <button type="submit" id='sendrte' class='btn btn-sm btn-primary'>Submit</button>
                <button id='checkrte' type="submit" class='btn btn-sm btn-success'>Submit</button>
            </form>
        </div>
        <div class="row">
            {{{text}}}
        </div>
    </div>
</div>