/* ========== BODY / HTML ========== */

body {
	margin: 0; 
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: rgb(41, 41, 41);
	background-color: rgb(218, 218, 218) !important;
}
body, html {
	background-color: rgb(218, 218, 218) !important;
}

/* ==========NAVBAR SECTION========== */
.navbar{
	background-color: #0eae9b !important;
}


/* ====== MONGO CONFIG SECTION ====== */


.config-div{
	margin-top: 10%;
	background-color: rgb(236, 236, 236) !important;
	padding: 50px;
	border: none !important;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
}

.config-div form h1{
	color: #252525;
	padding-bottom: 5px;
}

.config-div form p{
	color: #252525;
	padding-top: 8px;
}

.config-div form button{
	background-color: #0eae9b;
	border: none !important;
}

.toggle-mongo-div{
	background-color: #0eae9b;
	text-align: left !important;
	width: 300px;
	border-radius: 2px;

}

.config-div .toggle-mongo-div button{
	background-color: #0eae9b;
	font-size: 12pt;

}

.config-div form button:hover{
	background-color: #06d1b9;
	border: none !important;
}

.config-div .form-group h4{
	text-align: left;
}

.config-div .header-div{
	text-align: left;
	border-left: 4px solid #252525;
	padding: 2px 0px 1px 10px;
	margin-bottom: 15px;
}
.config-div .header-div h1{
	color: #252525;
	font-weight: bold;
	
}
.config-div .header-div h2{
	margin-top: -10px;
	color: #0eae9b;
	font-weight: bold;
}

/* ========== LOGIN SECTION ========= */

.login-div{
	background-color: #FFFFFF;
	padding: 75px;
	color: #FFFFFF;
	box-shadow: 3px 3px 2px #13131388;
	border-radius: 4px;
}

.login-div img{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;

}

.login-div .header-div{
	text-align: left;
	border-left: 4px solid #0eae9b;
	padding: 2px 0px 1px 10px;
	margin-bottom: 30px;
}

.login-div .header-div h1{
	color: #1f1f1f;
	font-weight: bold;
	
}

.login-div .header-div h2{
	margin-top: -10px;
	color: #0eae9b;
	font-weight: bold;
}

.login-div button{ 
	background-color: #0eae9b;
	color: #FFFFFF;
	border:none !important;
}

.login-div button:hover{ 
	background-color: #0bdac1;
}

/* ========== BLOG SECTION ========= */

#prevBtn{
	
}

#nextBtn{
	text-align: left !important;
}


/* ========== BLOG SECTION ========= */

.main-header-div{
	padding-top: 50px;
	padding-bottom: 50px;
}

.admin-options{
	background-color: #0eae9b;
	padding: 20px 20px 20px 20px;
	min-height: 215px;
}

.admin-header{
	background-color: #0eae9b;
	padding: 20px 20px 20px 20px;
	min-height: 215px;
}

.admin-options ul{
	list-style: none !important;
	padding-left: 0px !important;
}

.main-header-div h3{
	border-left: 4px solid #FFFFFF;
	color: #FFFFFF;
	padding-left: 10px;
	margin-bottom: 25px;
}

.admin-options button{
	text-align: left !important;
	width: 250px;
}

.blog-div{
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
}

.pagerow{
	background-color: rgb(218, 218, 218);
	padding-top: 50px;
	padding-bottom: 50px;
}


